[Unit]
Description=Splunk Phone Shop
After=user.target

[Service]
Type=forking
ExecStart=/usr/local/bin/phoneshop_service.sh start
ExecStop=/usr/local/bin/phoneshop_service.sh stop
ExecReload=/usr/local/bin/phoneshop_service.sh reload

[Install]
WantedBy=multi-user.target