[bumpversion]
current_version = 0.7
commit = True
Tag = True
parse = v?(?P<major>\d+)\.(?P<minor>\d+)
serialize = {major}.{minor}
tag_message = "Version {new_version}"
message = Releasing v{new_version}

[bumpversion:file:VERSION]
