# Variables need to be defined first in the variables.tf file

# this should NOT be stored in a public source control system as it contains sensitive information

### AWS Variables ###
profile = "<NAME>"
region = "<REGION>"
vpc_id = "<ID>"
vpc_cidr = "<ID>"
subnet1_id = "<ID>"
subnet2_id = "<ID>"
subnet3_id = "<ID>"
key_name = "<NAME>"
private_key_path = "~/.ssh/id_rsa"
instance_type = "t2.micro"
collector_instance_type = "t2.small"

### SignalFX Variables ###
auth_token = "<AUTH_TOKEN>"
api_url = "https://api.eu0.signalfx.com"
realm = "eu0"
cluster_name = "demo"

# smart_agent_version = "5.7.1-1" # Optional - If left blank, latest will be installed
smart_agent_version = "" # Optional - If left blank, latest will be installed

### https://quay.io/repository/signalfx/splunk-otel-collector?tab=tags
otelcol_version = "0.3.0"
ballast = "683"
