# File should be referenced with 
# -var-file="variables.tfvars"

# Variables need to be defined first in the variables.tf file

# this should NOT be stored in a public source control system as it contains sensitive information

### AWS Variables ###
profile = "<NAME>"
region = "<REGION>"
vpc_id = "<ID>"
subnet_id = "<ID>"
ami = "<ID>"
key_name = "<NAME>"
instance_type = "t2.micro"
smart_gateway_instance_type = "t2.small"

### Instance IPs ###
smart_gateway1_ip = "172.31.32.10"
smart_gateway2_ip = "172.31.32.20"
nginx1_ip = "172.31.33.10"
nginx2_ip = "172.31.33.20"
wordpress1_ip = "172.31.34.10"
wordpress2_ip = "172.31.34.20"
mysql1_ip = "172.31.35.10"
mysql2_ip = "172.31.35.20"
haproxy1_ip = "172.31.36.10"
haproxy2_ip = "172.31.36.20"
app-server1 = "172.31.37.10"
app-server2 = "172.31.37.20"

### SignalFX Authentication Variables ###
auth_token = "<AUTH_TOKEN>"
api_url = "https://api.eu0.signalfx.com"

