#! /bin/bash

# Download and Install the Latest Updates for the OS
apt-get update
apt-get upgrade -y

# Install Smart Gateway
mkdir -p /var/lib/gateway/{etc,logs,data}
chmod -R 777 /var/lib/gateway
curl -qs -H'X-SF-Token:<ACCESS TOKEN>' https://app.eu0.signalfx.com/v2/smart-gateway/download/v1.1.1 | gunzip > /var/lib/gateway/smart-gateway
chmod +x /var/lib/gateway/smart-gateway
