[Unit]
Description=Locust Load Testing Service
After=user.target

[Service]
ExecStart=/usr/local/bin/locust -f /home/ubuntu/locustfile.py --host=http://localhost:8080 -u 5 -r 2 --headless
KillMode=mixed
Restart=on-failure
Type=simple
User=root
Group=root

[Install]
WantedBy=multi-user.target